{{#resume.basics}}
  <div class="header">
    <h1>{{name}}</h1>
    {{#if pdfLink}}
      <a class="pdf" title="Download PDF" href={{pdfLink}}>
        {{> download-icon}}
      </a>
    {{/if}}
  </div>
  
  <p>{{label}}</p>

  {{#if location}}
    <p class="grey">
      {{location.city}}, {{location.countryCode}}

      {{#if email }}
        | {{ email }}
      {{/if}}

      {{#if website }}
        | <a href='{{website}}' target='_blank' rel='noopener'>{{website}}</a>
      {{/if}}
    </p>
  {{/if}}

  {{#if summary}}
    <p class="grey">{{summary}}</p>
  {{/if}}

{{/resume.basics}}