{{#if resume.education.length}}
<section>
	<h2>Education</h2>
	{{#each resume.education}}
	<span class="headline">{{institution}}</span>
	<p class="grey">
		{{#if studyType }}
		{{#if area }}
		{{studyType}} - {{area}}
		{{else}}
		{{studyType}}
		{{/if}}
		{{else}}
		{{#if area }}
		{{area}}
		{{/if}}
		{{/if}}
		{{#if startDate}}
		| {{date startDate "YYYY"}}
		{{#if endDate}}
		- {{date endDate "YYYY"}}
		{{else}}
		- Current
		{{/if}}
		{{/if}}
	</p>
	{{/each}}
</section>
{{/if}}