{{#if resume.work.length}}
	{{#each resume.work}}
		<section class="position">
			{{#if @first}}
				<h2>Work Experience</h2>
			{{/if}}
			<h3>
				{{#if website}}
					<a target="_blank" rel="noopener" href="{{website}}">{{company}}</a>
				{{else}}
					{{company}}
				{{/if}}
			</h3>

			{{#if positions}}
				{{#each positions}}
					{{> position}}
				{{/each}}
			{{else}}
				{{> position}}
			{{/if}}
		</section>
	{{/each}}
{{/if}}